[credential "https://github.com"]
	helper = !/run/current-system/sw/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/run/current-system/sw/bin/gh auth git-credential
[credential]
	helper = !gh auth git-credential
[user]
	email = kobbaltty@gmail.com
